@import "./_mixins";

$min_width: 320px;
$max_width: 2560px;
$min_font: 16px;
$max_font: 36px;
$font_color_1: white;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  color: $font_color_1;
  margin: 0;
}
h1 {
  font-size: 2rem;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
  transition: top 0.5s;
  &.hide {
    top: -60px;
  }
}

.navbar-toggler {
  padding: 0;
  &:focus {
    outline: none;
  }
  svg {
    font-size: 1.5em;
    color: $font_color_1;
  }
}

.collapse {
  justify-content: flex-end;
}

.nav {
  flex-direction: column;
  align-items: flex-end;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    li {
      margin: 0 0.5rem;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.section {
  position: relative;
  height: 100vh;
  width: 100%;
  background: black;
  border: 1px solid red;
  padding: 1rem;
  padding-bottom: 3rem;
}

.scroll-element {
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  line-height: 1;
}

.scroll-link {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, 0);
}
